@import "./reset.scss";
@import "./_variable.scss";
// @import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Myeongjo&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
html {
  font-size: 10px;
}

header {
  display: flex;
  width: 100%;
  font-size: 10rem;
  height: 8vh;
  align-items: center;
  justify-content: center;

  * {
    height: 100%;
    margin: 0;
    padding: 0.25rem;
  }
}

main {
  width: 100vw;
  height: 100vh;
}

.carousel {
  width: 100%;
}

.carousel__button {
  position: absolute;
  z-index: 2;
  top: 37vh;
  input[type="button"] {
    z-index: 4;
    font-size: 15rem;
    border: none;
    padding: 5rem;
    background: none;
  }
}

.carousel__button.pre {
  left: 8vw;
}

.carousel__button:hover {
  background-color: grey;
  opacity: 0.4;
}

.carousel__button.next {
  left: 36vw;
}
// .carousel__slide {

// }

.carousel__slide__img {
  position: absolute;
  width: 30vw;
  height: 50vh;
  inset: 0;
  top: 27vh;
  left: 14vw;
  opacity: 0;
  border-radius: 70px;
}

.carousel__slide__img > img {
  margin: 0;
  width: 20vw;
  height: 30vh;
  box-shadow: 20px 20px 10px gray;
  object-fit: cover;
  object-position: center;
}

.carousel__slide__img[data-active] {
  opacity: 1;
}

.carousel__slide__text {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 29vh;
  right: 3vw;
  // font-size: 10rem;
  opacity: 0;
  h1 {
    font-size: 13rem;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.3rem;
  }
  p {
    font-size: 8rem;
    line-height: 13rem;
    font-family: "Gowun Dodum", sans-serif;
  }
}

.carousel__slide__text[data-active] {
  opacity: 1;
}

// .carousel {
// }
