<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
        <h1>HOME</h1>
    </header>
    <article class="home-container">
        <section class="main-container">
            <h1>Main Content</h1>
        </section>
        <section class="side-container">
            <div class="login-content">
                <span class="content-box">
                    <input type="button" onclick="" id="login-button" value="로그인">
                </span>
                <span class="content-box">
                    
                </span>
            </div>
        </section>
    </article>
    <footer>
        <h4>회사 소개</h4>
    </footer>
</body>
</html>