<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>LOGIN</h1>
    </header>
    <article class="main-container">
        <form action="" class="login-container">
            <div class="login-content">
                <span class="content-box">
                    <input type="text" id="id" placeholder="아이디">
                </span>
                <span class="content-box">
                    <input type="password" id="password" placeholder="비밀번호">
                </span>
            </div>
            <span class="content-box">
                <input type="submit" value="로그인">
            </span>
        </form>
    </article>
    <script src="/js/login/main.js" type="module"></script>

</body>
</html>